.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
}
.contact-form-card {
  padding: 2rem;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
}
.contact-links-card {
  padding: 2rem;
  border: 1px solid #a1a1a1;
  border-radius: 10px;
}
.card {
  display: flex;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 5px;
}
.icon {
  font-size: 20px;
  /* color: #c63232; */
  margin-right: 0.5rem;
  margin-bottom: -0.1rem;
  /*  background-color: #a1a1a1;
  border-radius: 50%;
  padding: 2rem; */
}
label {
  color: #fff;
  margin-bottom: 0.5rem;
}
form {
  display: flex;
  flex-direction: column;
  pad: 4rem 1rem;
  margin: auto;
  max-width: 600px;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2 rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
}

@media screen and (max-width: 650px) {
  form {
    padding: 30px;
  }
  .contact-container {
    grid-template-columns: 1fr;
  }
  .card {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
  }
}
