.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}
.project-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
  margin-bottom: 5em;
}
.project-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  /* display: flex; */
}

.project-card img {
  width: 100%;
}

.porject-title {
  color: #fff;
  padding: 1rem 0;
}

.pro-details p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  /* text-align: justify; */
}

.pro-btns {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.pro-btns .btn {
  padding: 0.5 1rem;
}

.techno {
  display: flex;
  gap: 5px;
  padding-bottom: 1rem;
}
.techno-list {
  border: 1px solid #585858;
  border-radius: 0.5rem;
  padding: 0.2rem 0.6rem;
  cursor: default;
  transition: background 0.2s;
}
.techno-list:hover {
  background-color: #585858;
}
/* .pro-btns .btn:hover {
  background-color: #141414;
} */
@media screen and (max-width: 840px) {
  .project-container {
    max-width: 80%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card {
    padding: 1.5em 2em;
  }
}
